@using Leaf.Commom
@using PagedList.Mvc
@model PagedList.IPagedList<Leaf.Web.Areas.Administration.Models.UserViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsModerator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsAdmin)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if (item.IsModerator)
                {
                    @Html.ActionLink("Премахни модератор", "RemoveRole", new { userId = item.UserId, roleName = Constants.Moderator, page = Model.PageNumber })
                }
                else
                {
                    @Html.ActionLink("Направи модератор", "AddRole", new { userId = item.UserId, roleName = Constants.Moderator, page = Model.PageNumber })

                }
            </td>
            <td>
                @if (item.IsAdmin)
                {
                    @Html.ActionLink("Премахни администратор", "RemoveRole", new { userId = item.UserId, roleName = Constants.Administrator, page = Model.PageNumber })
                }
                else
                {
                    @Html.ActionLink("Направи администратор", "AddRole", new { userId = item.UserId, roleName = Constants.Administrator, page = Model.PageNumber })

                }
            </td>
        </tr>
    }

</table>
<div class="pages total">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", "UsersAdministration",
        new { page = page }))
</div>