@model Leaf.Web.Models.Submit.NewSubmitViewModel

@{
    ViewBag.Title = "New submission";
}

<h2>Ново въпрос</h2>

@using (Html.BeginForm("CreateSubmission", "Submit"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Категория: </label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CategoryId, Model.Categories)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Условие: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Condition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Condition)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Верен отговор: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorrectAnswer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorrectAnswer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Грешен отговор: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncorrectAnswerOne, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncorrectAnswerOne, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Грешен отговор: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncorrectAnswerTwo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncorrectAnswerTwo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Грешен отговор: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncorrectAnswerThree, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncorrectAnswerThree, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}